<%
content_for :title do 'Login' end
%>
<h1>Log in</h1>
<p>
<%= form_tag log_in_path do %>
  <%= hidden_field_tag :url, params[:url] || request.original_url %>
  <%= label_tag :username, 'Username' %>
  <%= text_field_tag :username, nil, :autofocus => true %>
<br/>
  <%= label_tag :password, 'Password' %>
  <%= password_field_tag :password %>
<br/><br/>
  <%= submit_tag 'Log in' %>
  <% if Rails.configuration.auth_method == :db %>
  <%= link_to 'Change password', change_password_path %>
  <% end %>
<% end %>
</p>
