<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :mac %><br />
    <%= f.text_field :mac %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :hardware_version %><br />
    <%= f.text_field :hardware_version %>
  </div>
  <div class="field">
    <%= f.label :software_version %><br />
    <%= f.text_field :software_version %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :product_class %><br />
    <%= f.text_field :product_class %>
  </div>
  <div class="field">
    <%= f.label :oui %><br />
    <%= f.text_field :oui %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
