<%
  param_names = Rails.configuration.index_parameters

  sort_param = params[:sort].start_with?('-') ? params[:sort][1..-1] : params[:sort] rescue nil
  sort_symbol = params[:sort].start_with?('-') ? ' &#9650;' : ' &#9660;' rescue nil
  content_for :title do 'Devices List' end
%>
<h1>Listing devices</h1>
<script type="text/javascript">
filters = {
<% for k,v in Rails.configuration.device_filters %>
  '<%= v %>' : '<%= k %>',
<% end %>
}
</script>
<b>Filters</b>
<form id="filters" onsubmit="updateFilters('filters');" >
  <input type="hidden" name="query" value='<%= @query.to_json %>' />
  <input type="hidden" name="sort" value="<%= params[:sort] %>" />
  <div class="filters_container"></div>
  <div class="filter_selection"></div>
  <br/><br/>
  <div>
    <input type="submit" value="Filter" />
    <a href="/devices">Clear</a>
  </div>
</form>

<h2>Showing <%= @total %> devices</h2>
<table class="records">
  <tr>
    <% param_names.each do |label, path| %>
      <th><a href="#" class="action" onclick="sort('filters', '<%= path %>');return false;"><%= label %><%= sort_symbol.html_safe if sort_param == path %></a></th>
    <% end %>
    <th><a href="#" class="action" onclick="sort('filters', 'summary.lastInform');return false;">Last inform<%= sort_symbol.html_safe if sort_param == 'summary.lastInform' %></a></th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <% param_names.each do |label, path| %>
      <td><%= param_value(path, device) %></td>
    <% end %>
    <td>
      <% cls = 'status-green' if (@now - device['summary.lastInform'].to_time) < 300 %>
      <span class="<%= cls %>"><%= distance_of_time_in_words(@now, device['summary.lastInform'], include_seconds: true) %> ago</span>
    </td>
    <td class="action"><%= link_to 'Show', "/devices/#{u(device['_id'])}" %></td>
  </tr>
<% end %>
</table>

<%= render partial: 'pagination' %>

<%= link_to 'Download', params.except(:page).merge(:format => :csv) %>

<script type="text/javascript">
$(function() {
  initFilters('filters');  
});
</script>
