<script type="text/javascript">
var pending = {};

$(function() {
  var options = {
    valueNames: ['param-path', 'param-value'],
    page: 4000
  };

  var featureList = new List('device-params', options);
  addActions();
  refreshPending();
});
</script>

<h1>Device: <%= @device['_id'] %></h1>
<p>
  <b>Last inform:</b>
  <% cls = 'status-green' if (@now - @device['summary.lastInform'].to_time) < 60 %>
  <span class="<%= cls %>"><%= distance_of_time_in_words(@now, @device['summary.lastInform'], include_seconds: true) %> ago</span>
  &mdash;
  <a href="#" class="action" onclick="refreshSummary(); return false;">Refresh</a>,
  <a href="#" class="action" onclick="pingDevice('<%= @device['summary.ip']['_value'] rescue '' %>');return false;">Ping</a>
</p>

<div class="summary">
<% for k,v in Rails.configuration.summary_parameters %>
  <% if v.is_a?(String) %>
  <p>
    <strong><%= k %>:</strong>
    <%= param_value(v, @device) %>
    <% if (p = get_param(v, @device)) != nil and p['_writable'] %>
    &mdash;
    <a href="#" onclick="editParam('<%= v %>', '<%= p['_type'] %>', '<%= p['_value'] %>');return false;">Edit</a>
    <% end %>
  </p>
  <% else %>
    <h2><%= k %></h2>
    <%= render partial: 'object_table', locals: {params: v} %>
  <% end %>
<% end %>
</div>

<% tags = @device['_tags'] || [] %>
<% if tags %>
<h2>Tags</h2>
<% tags.each do |t| %>
<span class="tag"><%= t %>
  <a class="delete action" href="#" onclick="removeTag('<%= t %>');return false;">&nbsp;x&nbsp;</a>
</span>
<% end %>
<a class="action" href="#" onclick="addTag();return false;">&nbsp;+&nbsp;</a>
<% end %>

<h2>Task queue</h2>
<table id="task-queue" class="records">
  <tr>
    <th>Task</th>
    <th>Time</th>
    <th>Retries</th>
    <th>Fault</th>
    <th></th>
  </tr>
  <% for t in @tasks %>
  <tr>
  <td><%= t['name'] %></td>
  <td><%= t['timestamp'] %></td>
  <td><%= t['retries'].to_i %></td>
  <td><%= task_fault(t) %></td>
  <td style="text-align:right;">
    <%= link_to 'Retry', "/faults/#{t['_id']}/retry", method: :post, data: { confirm: 'Are you sure?' } if t.has_key?('fault') %>
    <%= link_to 'Destroy', "/faults/#{t['_id']}", method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
  </tr>
  <% end %>
  <% if @tasks.empty? %>
  <tr class="no-records"><td colspan="0">Empty</td></tr>
  <% end %>
</table>

<div style="clear:both;"></div>
<h2>Device parameters</h2>
<div id="device-params">
  <input class="search" type="search" placeholder="Type to search..." />
  <ul class="list">
    <% for p in @device_params %>
    <li name="<%= "InternetGatewayDevice.#{p['_path']}" %>" value="<%= p['_value'] %>" type="<%= p['_type'] %>" writable="<%= p['_writable']? 1 : 0 %>" <%= 'instance' if p['_instance'] %> <%= 'object' if p['_object'] %> >
      <span class="param-path"><%= "InternetGatewayDevice.#{p['_path']}" %></span><% if p.include?('_value') %>: <span class="param-value"><%= param_value("InternetGatewayDevice.#{p['_path']}", @device) %></span><% end %>
    </li>
    <% end %>
  </ul>
</div>
<br/>
<p>
<div><a id="reboot" href="#" onclick="reboot();return false;">Reboot</a></div>
<div><a id="factory-reset" href="#" onclick="factoryReset();return false;">Factory reset</a></div>
<div class="filter_selection">
  <a id="push-file" href="#">Push file &raquo;</a>
  <div class="popup">
    <% for f in @files %>
    <a href="#" onclick="pushFile('<%= f['_id'] %>', '<%= f['filename'] %>');return false;"><%= f['filename'] %> (<%= f['metadata']['fileType'] %>)</a><br/>
    <% end %>
  </div>
</div>
</p>

<div id="pending">
<h>Pending tasks</h>
  <ul>
  </ul>
  <a class="button" href="#" onclick="commitPending();return false;">Commit</a>
  <a href="#" onclick="clearPending();return false;">Cancel</a>
</div>
