<%= simple_form_for @user do |f| %>

  <%= render 'shared/error_message', model: @user %>
  <div>
    <div>
      <%= f.input :username, wrapper_html: { class: 'd-inline-block' } %>
      <%= f.input :password, wrapper_html: { class: 'd-inline-block' } %>
    </div>

    <div>
      <%= f.input :first_name, wrapper_html: { class: 'd-inline-block' } %>
      <%= f.input :last_name, wrapper_html: { class: 'd-inline-block' } %>
      <%= f.input :telephone, wrapper_html: { class: 'd-inline-block' } %>
      <%= f.input :email, wrapper_html: { class: 'd-inline-block' } %>
    </div>

    <div class="mb-10">
      <%= f.label :expired_at %><br>
      <%= f.date_field :expired_at %>
    </div>
  </div>

  <div id="roles-added" class=" mb-10">
    <% @user.roles.each do |role| %>
      <div class="badge badge-pill badge-dark">
        <%= role.name %>
        <input type="hidden" name="user[role_ids][]" value="<%= role.id %>">
        <span class="close">&nbsp;x&nbsp;</span>
      </div>
    <% end %>
  </div>

  <div class="">
    <input type="hidden" name="role_ids" value="<%= params[:role_ids] || @user.roles.pluck(:id).join(",") %>">
    <%= f.input :roles, collection: Role.all.collect { |x| [x.name, x.id] }, prompt: 'Select role', wrapper_html: { class: 'd-inline-block' } %>
    <button type="button" class='d-inline-block' onclick="addRole()">Add role</button>
  </div>

  <div>
    <h2>Area of responsibility</h2>
    <hr>

    <div>
      <%= f.association :department, wrapper_html: { class: 'd-inline-block' }, prompt: 'Select department' %>
      <%= f.association :division, wrapper_html: { class: 'd-inline-block' }, prompt: 'Select division' %>
      <%= f.association :sector_city, wrapper_html: { class: 'd-inline-block' }, prompt: 'Select sector city' %>
    </div>

    <div>
      <%= f.association :city, wrapper_html: { class: 'd-inline-block' }, prompt: 'Select city' %>
      <%= f.association :office, wrapper_html: { class: 'd-inline-block' }, prompt: 'Select office' %>
    </div>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>
