<%= simple_form_for(@sector_city) do |f| %>
  <%= render 'shared/error_message', model: @sector_city %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.association :department, prompt: 'Select department',
        input_html: { class: 'select-department' } %>

    <%= f.association :division, prompt: 'Select division',
        collection: (@sector_city&.department&.divisions || []),
        input_html: { class: 'select-division' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
