<%= form_tag({:action => :upload}, :method => 'post', :multipart => true) do %>
<div>
  <%= label_tag('file_type', 'File type:') %>
  <%= select_tag('file_type', options_for_select(['1 Firmware Upgrade Image', '2 Web Content', '3 Vendor Configuration File', '4 Tone File', '5 Ringer File'], '1 Firmware Upgrade Image')) %>
</div>
<div>
  <%= label_tag('oui', 'OUI:') %>
  <%= text_field_tag 'oui', params[:oui] %>
</div>
<div>
  <%= label_tag('product_class', 'Product class:') %>
  <%= text_field_tag 'product_class', params[:product_class] %>
</div>
<div>
  <%= label_tag('version', 'Version:') %>
  <%= text_field_tag 'version', params[:version] %>
</div>
<div>
  <%= label_tag('file', 'File:') %>
  <%= file_field_tag('file') %>
</div>
<br/>
<%= submit_tag("Upload") %>
<% end %>
