<%
content_for :title do 'Preset List' end
%>
<h1>Listing presets</h1>
<script type="text/javascript">
filters = {
<% for k,v in Rails.configuration.preset_filters %>
  <% for vv in v %>
  '<%= vv %>' : '<%= if v.length == 1 then k else vv end %>',
  <% end %>
<% end %>
}
</script>
<b>Filters</b>
<form id="filters" onsubmit="updateFilters('filters');" >
  <input type="hidden" name="query" value='<%= @query.to_json %>' />
  <input type="hidden" name="sort" value="<%= params[:sort] %>" />
  <div class="filters_container"></div>
  <div class="filter_selection"></div>
  <br/><br/>
  <div>
    <input type="submit" value="Filter" />
    <%= link_to 'Clear', {} %>
  </div>
</form>

<h2>Showing <%= @total %> presets</h2>

<table class="records">
  <tr>
    <th>Name</th>
    <th>Channel</th>
    <th>Weight</th>
    <th>Events</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @presets.each do |preset| %>
  <% precondition = preset['precondition'].is_a?(Hash) ? preset['precondition'].to_json : preset['precondition'] %>
  <tr>
    <td><%= preset['_id'] %></td>
    <td><%= preset['channel'] %></td>
    <td><%= preset['weight'] %></td>
    <td><%= events_to_string(preset['events']) %></td>
    <td class="action"><%= link_to 'Devices', {controller: 'devices', action: 'index', query: precondition || '{}'} %></td>
    <td class="action"><%= link_to 'Edit', {controller: 'presets', action: 'edit', id: preset['_id']} if can?(:update, 'presets') %></td>
    <td class="action"><%= link_to 'Destroy', {controller: 'presets', action: 'destroy', id: preset['_id']}, method: :delete, data: { confirm: 'Are you sure?' } if can?(:delete, 'presets') %></td>
  </tr>
<% end %>
</table>

<%= render partial: 'pagination' %>

<br />

<%= link_to 'New Preset', {:action => :new} if can?(:create, 'presets') %>

<script type="text/javascript">
$(function() {
  initFilters('filters');
});
</script>
