<%
can_retry = can?(:update, 'tasks/retry')
can_delete = can?(:delete, 'tasks')
content_for :title do 'Fault List' end
%>
<h1>Listing faults</h1>

<script type="text/javascript">
filters = {
  'device' : 'Device',
  'channel' : 'Channel',
  'retries' : 'Retries',
  'timestamp' : 'Timestamp'
}
</script>
<b>Filters</b>
<form id="filters" onsubmit="updateFilters('filters');" >
  <input type="hidden" name="query" value='<%= @query.to_json %>' />
  <input type="hidden" name="sort" value="<%= params[:sort] %>" />
  <div class="filters_container"></div>
  <div class="filter_selection"></div>
  <br/><br/>
  <div>
    <input type="submit" value="Filter" />
    <a href="/faults">Clear</a>
  </div>
</form>


<h2>Showing <%= @total %> faults</h2>
<table class="records">
  <tr>
    <th>Device</th>
    <th>Channel</th>
    <th>Retries</th>
    <th>Fault</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @faults.each do |fault| %>
  <tr>
    <td><a href="/devices/<%=u fault['device'] %>"><%= fault['device'] %></a></td>
    <td><%= fault['channel'] %></td>
    <td><%= fault['retries'] %></td>
    <td><%= task_fault(fault) %></td>
    <td><%= fault['timestamp'].to_time().in_time_zone() %></td>
    <td class="action"><%= link_to 'Destroy', "/faults/#{fault['_id']}", method: :delete, data: { confirm: 'Are you sure?' } if can_delete %></td>
  </tr>
<% end %>
</table>

<%= render partial: 'pagination' %>

<script type="text/javascript">
$(function() {
  initFilters('filters');
});
</script>
