<%
can_retry = can?(:update, 'tasks/retry')
can_delete = can?(:delete, 'tasks')
content_for :title do 'Fault List' end
%>
<h1>Listing faults</h1>

<script type="text/javascript">
filters = {
  'device' : 'Device',
  'name' : 'Task',
  'timestamp' : 'Date'
}
</script>
<b>Filters</b>
<form id="filters" onsubmit="updateFilters('filters');" >
  <input type="hidden" name="query" value='<%= @query.to_json %>' />
  <input type="hidden" name="sort" value="<%= params[:sort] %>" />
  <div class="filters_container"></div>
  <div class="filter_selection"></div>
  <br/><br/>
  <div>
    <input type="submit" value="Filter" />
    <a href="/faults">Clear</a>
  </div>
</form>


<h2>Showing <%= @total %> faults</h2>
<table class="records">
  <tr>
    <th>Device</th>
    <th>Task</th>
    <th>Retries</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>

<% @faults.each do |task| %>
  <tr>
    <td><a href="/devices/<%=u task['device'] %>"><%= task['device'] %></a></td>
    <td><%= task['name'] %></td>
    <td>
      <% if task['retries'].blank? %>
      <%= 0 %>
      <% else %>
      <%= task['retries'] %>
      <% end %>
    </td>
    <td>
      <%= task['timestamp'] %>
    </td>
    <td class="action"><%= link_to 'Retry', "/faults/#{task['_id']}/retry", method: :post, data: { confirm: 'Are you sure?' } if can_retry %></td>
    <td class="action"><%= link_to 'Destroy', "/faults/#{task['_id']}", method: :delete, data: { confirm: 'Are you sure?' } if can_delete %></td>
  </tr>
<% end %>
</table>

<%= render partial: 'pagination' %>

<script type="text/javascript">
$(function() {
  initFilters('filters');
});
</script>
